@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #66A607;
  --color-secondary: #ed1c24;
}

.font1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


.button{
  @apply bg-primary px-4 py-2 rounded text-white font-bold cursor-pointer hover:bg-red-800  duration-500;
}

.active{
  @apply underline
}


h1{
  @apply  text-4xl lg:text-5xl font-bold;
}
h2{
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}
h3{
  @apply text-xl font-bold;
}
h4{
  @apply text-lg font-semibold;
}
h5{
  @apply font-semibold;
}